---
http_interactions:
- request:
    method: get
    uri: https://beta.uceem.com/guests.json?auth_token=5YQp4UaD2uDoxYpwt6ex
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf4345e3894141100da982a6a2cedc9e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":1929,"email":"an_awesome_test_guest@uceem.com","first_name":"","last_name":"","role":"user","external_email":"","current_sign_in":0,"current_sign_in_ip":null,"last_sign_in":0,"last_sign_in_ip":null,"created_at":1376948201,"updated_at":1376948227}]'
  recorded_at: Wed, 05 Mar 2014 18:33:39 GMT
recorded_with: VCR 2.8.0
