---
http_interactions:
- request:
    method: get
    uri: https://beta.uceem.com/manage/users/1926.json?auth_token=5YQp4UaD2uDoxYpwt6ex
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8bf066a0de93cea877b8f587409a80e6"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1926,"email":"uceem_gem_test@beta.uceem.com.local","first_name":"Uceem","last_name":"Gem","role":"admin","external_email":"","current_sign_in":1394044610,"current_sign_in_ip":"184.76.3.188","last_sign_in":1394044596,"last_sign_in_ip":"184.76.58.57","created_at":1375469497,"updated_at":1394044610}'
  recorded_at: Wed, 05 Mar 2014 18:36:50 GMT
recorded_with: VCR 2.8.0
