---
http_interactions:
- request:
    method: get
    uri: https://beta.uceem.com/manage/users.json?auth_token=5YQp4UaD2uDoxYpwt6ex
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7797de634713f760afb7737555bdbafe"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":1926,"email":"uceem_gem_test@beta.uceem.com.local","first_name":"Uceem","last_name":"Gem","role":"admin","external_email":"","current_sign_in":1394044596,"current_sign_in_ip":"184.76.58.57","last_sign_in":1394044419,"last_sign_in_ip":"184.76.58.57","created_at":1375469497,"updated_at":1394044596}]'
  recorded_at: Wed, 05 Mar 2014 18:36:36 GMT
recorded_with: VCR 2.8.0
