<html>
<head>
  <link rel='stylesheet' type='text/css' href='css/normalize.css' />
  <link rel='stylesheet' type='text/css' href='css/code.css' />
  <link rel='stylesheet' type='text/css' href='css/base.css' />
  <link rel='stylesheet' type='text/css' href='sass/typo.css' />
</head>
<body>
  <div class="container">
    <header>
      <a href='https://www.uceem.com'><img src="images/uceem_logo.png" alt="Uceem Networks logo" class='logo'></a>
    </header>
    <nav class="main-nav">
      <a href="/introduction">Introduction</a>
      <a href="/authentication">Authentication</a>
      <a href="/accounts">Accounts</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>